language: node_js
node_js:
  - "8.11.1"  # Webapp
  - "8.12.0"  # Docker
cache: yarn
install:
  - npm install -g codecov
  - yarn install
script:
  - yarn --version
  - yarn lint
  - yarn test
  - yarn test:coverage
  - codecov
