language: node_js
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version version-number
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - npm install -g codecov
  - yarn install
script:
  - yarn --version
  - yarn lint
  - yarn test
  - yarn test:coverage
#  - codecov
after_success:
