---
version: '3'

services:
  ccd-case-management-web:
    build:
      context: .
    image: hmctspublic.azurecr.io/ccd/case-management-web
    environment:
      - IDAM_LOGIN_URL=https://localhost:3501/login
      - CCD_GATEWAY_BASE_URL=http://localhost:3453
      - CCD_ACTIVITY_BASE_URL=
      - DM_GATEWAY_BASE_URL=http://localhost:3453
    ports:
      - 3451:3451
