<div class="screen-990" style="padding-bottom: 20px;">
  <a (click)="back()" class="link-back">Back</a>
  <h1 class="heading-h1">Accessibility statement for Core Case Data (CCD)</h1>


  <div class="address"><span class="text-16">The CCD website is run by Her Majesty’s Courts and Tribunals (HMCTS).
It stores legal cases created by public HMCTS services such as Divorce, Probate or Civil Money Claims, and solicitors using CCD directly. It enables those cases to be progressed to resolution by legal professionals.
HMCTS services customise the CCD user interface in order to best deliver their service to their legal professionals. This means many parts of the CCD user interface will be different for each HMCTS service.
We want as many people as possible to be able to use this website, so we have designed it to be accessible. For example, that means you should be able to:
</span></div>
  <br>
  <ul style="list-style-type:disc;">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>


  <br>
  <div class="address"><span class="text-16">
    <a href="https://mcmw.abilitynet.org.uk/" rel="noopener noreferrer">AbilityNet</a>  has advice on making your device easier to use if you have a disability.
  </span>
  </div>

  <h2 class="heading-h2">How accessible is this website? </h2>
  <div class="address"><span class="text-16">The website has been tested by the Digital Accessibility Centre (DAC) in Neath, Wales and it meets the required level of accessibility.
Some PDFs, documents and email attachments may not be fully accessible. Each HMCTS service is responsible for authoring their own PDFs and case attachments, and ensuring they are accessible according to their own schedule.
</span></div>


  <h2 class="heading-h2">What to do if you cannot access parts of this website</h2>
  <div class="address"><span class="text-16">If you need information on this website in a different format like accessible PDF, large print, easy read or braille then email HMCTSforms@justice.gov.uk or phone: </span></div>


  <h2 class="heading-h3">Benefit appeals helpline (England and Wales)</h2>
  <div class="address"><span class="text-16">Email: </span>   <a href="mailto:customer.service@hmcts.gsi.gov.uk ">customer.service@hmcts.gsi.gov.uk </a> </div>
  <div class="address"><span class="text-16">Phone: 0300 123 1711</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8:30am to 5pm </span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank"  rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>


  <h2 class="heading-h3">Benefit appeals helpline (Scotland)</h2>
  <div class="address"><span class="text-16">Email: </span>   <a href="mailto:customer.service@hmcts.gsi.gov.uk ">customer.service@hmcts.gsi.gov.uk </a> </div>
  <div class="address"><span class="text-16">Phone: 0300 123 1711</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8:30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank"  rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>
  <br>
  <div class="address"><span class="text-16">We’ll consider your request and get back to you within 10 working days.</span></div>

  <h2 class="heading-h2">Reporting accessibility problems with this website</h2>

  <div class="address"><span class="text-16">We’re always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, phone: </span></div>

  <h2 class="heading-h3">Benefit appeals helpline (England and Wales)</h2>
  <div class="address"><span class="text-16">Email: </span>   <a href="mailto:customer.service@hmcts.gsi.gov.uk ">customer.service@hmcts.gsi.gov.uk </a> </div>
  <div class="address"><span class="text-16">Phone: 0300 123 1711</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8:30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank"  rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>


  <h2 class="heading-h3">Benefit appeals helpline (Scotland)</h2>
  <div class="address"><span class="text-16">Email: </span>   <a href="mailto:customer.service@hmcts.gsi.gov.uk ">customer.service@hmcts.gsi.gov.uk </a> </div>
  <div class="address"><span class="text-16">Phone: 0300 123 1711</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8:30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank"  rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>

  <h1 class="heading-h1">Enforcement procedure</h1>

  <div class="address"><span class="text-16">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
    If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com"  target="_blank"  rel="noopener noreferrer">
        contact the Equality Advisory and Support Service (EASS). </a> </span></div>

  <h1 class="heading-h1">Technical information about this website’s accessibility</h1>
  <div class="address"><span class="text-16">HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</span></div>

  <h1 class="heading-h1">Non-accessible content</h1>
  <div class="address"><span class="text-16">The content listed below is non-accessible for the following reasons.
Some of the PDFs, documents, and attachments to email notifications may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader. Each HMCTS service is responsible for authoring their own PDFs and ensuring they are accessible according to their own schedule.
 </span></div>


  <h1 class="heading-h1">Non compliance with the accessibility regulations</h1>

  <h2 class="heading-h3">Disproportionate burden</h2>

  <ul style="list-style-type:disc;">
    <li>accessibility problems you’re claiming would be a disproportionate burden to fix</li>
    <li>which of the WCAG 2.1 AA success criteria each issue fails to meet</li>
  </ul>
  <br>
  <div class="address"><span class="text-16">CCD aim to resolve all the accessibility failures reported in their latest DAC report. </span></div>


  <h1 class="heading-h3">Content that’s not within the scope of the accessibility regulations</h1>
  <h2 class="heading-h3">PDFs and other case attachments</h2>

  <div class="address"><span class="text-16">PDFs, documents and attachments to email notifications authored using older software may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader.  </span></div>




  <h1 class="heading-h1">How we tested this website</h1>

  <div class="address"><span class="text-16">The CCD user interface was tested by the Digital Accessibility Centre (DAC) in February 2019, loaded with the configuration for the Financial Remedy HMCTS service. <br>
We continually run automated accessibility testing as part of our development practices and resolve issues before websites and functions are released. We use Pa11y and Axe with our quality assurance processes. <br><br>
A DAC assessment gives each issue a severity rating:
</span></div><br>

  <ul style="list-style-type:disc;">
    <li>A indicates a high severity issue</li>
    <li>AA indicates a medium severity issue </li>
    <li>AAA indicates a low severity issue</li>
  </ul>
  <br>
  <div class="address"><span class="text-16">The CCD website passed all AAA tests, but failed some AA tests and a few A tests. Most of the AA issues have since been resolved, with only some A severity issues remaining. All remaining issues are scheduled to be resolved over the next few months. <br><br>
The following is the Executive summary of the DAC Report from February 2019.<br><br>

“An accessibility audit for Core Case Data (CCD) service was carried out by the Digital Accessibility Centre (DAC) user/technical team on 19th February 2019.  This document incorporates the findings regarding any accessibility barriers identified during the process. <br><br>
Testing identified a number of issues that impacted both users of assistive technology and some users that do not rely on assistive technology.<br><br>
The ID attribute uniquely identifies elements on a page. It does not make sense to duplicate an ID.  Duplicate ID's can break the accessibility of labels for forms, table header cells, etc., with the second instance being skipped by screen readers, or by client-side scripts. <br><br>
Duplicate ARIA IDs are common validation errors that may break the accessibility of labels, e.g., form fields, table header cells.  The value assigned to an ARIA ID must be unique to prevent the second instance from being overlooked by assistive technology. <br> <br>
Screen reader software notifies users when they encounter a list, and tells them how many items are in a list. Announcing the number of list items and the current list item helps listeners to understand what they are listening to, and what to expect as they listen to it. Child list item elements must be contained within the appropriate parent list elements, which enables screen reader software to inform the user that they are listening to a list.<br><br>
Although a page title has been provided on the pages tested, the current page titles do not give screen reader users an indication of the content held on the page. <br><br>
Some of the links that were found did not make sense to screen reader users.  Links should clearly describe their purpose and destination.<br><br>
Effective form labels are required to make forms accessible. The purpose of form elements such as checkboxes, radio buttons, input fields, etcetera, is often apparent to sighted users, even if the form element is not programmatically labelled. Screen readers users require useful form labels to identify form fields. Adding a label to all form elements eliminates ambiguity and ensures that users understand what needs to be entered in to form fields.<br><br>
Screen reader users felt that some of the labelling of the buttons was not sufficiently descriptive, which meant that the purpose of the buttons was somewhat ambiguous to this user group.<br><br>
One of the links identified on the pages tested could not be accessed via a screen reader.  All elements on the page should be accessible for assistive technology users.<br><br>
One of the tables on the pages tested contained some empty table cells; this made the table difficult to understand for screen reader users.<br><br>
When new content is added to the page dynamically, the order that the content is read or focussed on should remain logical; currently this does not happen, making navigation slightly inconsistent.<br><br>
One of the areas on the pages tested contained a colour combination that failed to meet the minimum colour contrast requirements of 4.5:1.<br><br>
While uploading a document, which users are required to do on many pages, it was not obvious to screen reader users that the document had been uploaded as there was no indication that the document was being uploaded or that a document had been successfully uploaded.<br><br>
Although heading mark-up has been used, some of the pages were identified as having an illogical heading structure.<br><br>
Some of the links on the pages tested did not make much sense to screen reader users when taken out of the context of the page.  Links with the same name that lead to different destinations can often confuse screen reader users.  It is recommended that content is hidden off screen providing additional context to each link, which means that the links purpose and destination is clear to screen reader users. ”
 </span></div>




  <h1 class="heading-h1">What we’re doing to improve accessibility</h1>
  <div class="address"><span class="text-16">This website is continually tested using accessibility software. Any new features which are introduced are also tested. <br><br>
CCD is responsible for the core elements of its website that are not configurable by the HMCTS services, and all issues reported are scheduled and resolved on an on-going basis. <br><br>
Services are responsible for ensuring their own configurations delivers an accessible website. <br><br>
Services are responsible for authoring PDFs and other case attachments, and continuously improve to make them accessible.
 </span></div>

</div>
