<div class="screen-990" style="padding-bottom: 20px;">
  <a (click)="back()" class="link-back">Back</a>
  <h1 class="heading-h1">Contact us</h1>

  <h2 class="heading-h2">Asylum</h2>
  <div class="address"><span class="text-16">Email: customer.service@justice.gov.uk</span></div>
  <div class="address"><span class="text-16">Phone: 0300 123 1711</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 9.30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank" rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>

  <h2 class="heading-h2">Divorce</h2>
  <div class="address"><span class="text-16">Email: divorce@justice.gov.uk</span></div>
  <div class="address"><span class="text-16">Phone: 0300 303 0642</span></div>
  <div class="address"><span class="text-16">Monday to Friday 8am to 8pm. Saturday 8am to 2pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank" rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>

  <h2 class="heading-h2">Family Public Law</h2>
  <div class="address"><span class="text-16">Email: fpla@justice.gov.uk</span></div>
  <div class="address"><span class="text-16">Phone: 0330 808 4424</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8.30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank" rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>


  <h2 class="heading-h2">Financial Remedy</h2>
  <div class="address"><span class="text-16">Email: HMCTSFinancialRemedy@justice.gov.uk</span></div>
  <div class="address"><span class="text-16">Phone: 0300 303 0642</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 8:30am to 5pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank" rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>

  <h2 class="heading-h2">Probate</h2>
  <div class="address"><span class="text-16">Email: birminghamdprsolicitorsenquiries@justice.gov.uk</span></div>
  <div class="address"><span class="text-16">Phone: 0300 123 1072</span></div>
  <div class="address"><span class="text-16">Monday to Friday, 09:30am to 4pm</span></div>
  <div class="address">
    <span class="text-16">
      <a href="https://www.gov.uk/call-charges" title="Go to the GOV.UK Call charges" target="_blank" rel="noopener noreferrer">
        Find out about call charges</a>
    </span>
  </div>

</div>
