.back-link-div {
  margin-top: 30px;
}
.back-link {
  font-size: 14px;
  text-decoration: underline;
}
.back-link:hover {
  cursor: pointer;
}
li {
  margin-left: 20px;
  padding-left: 15px;
  margin-top: 5px;
}
.footer-row {
  float: left;
}
.heading-medium {
  margin-top: 30px;
}
.heading-small {
  margin-top: 20px;
  margin-bottom: 10px;
}
.para {
  margin-bottom: 10px;
}

