.back-link-div {
  margin-top: 30px;
}
.link-back:hover {
  cursor: pointer;
}
li {
  margin-left: 20px;
  padding-left: 15px;
  margin-top: 5px;
}
.table-row {
  border-bottom: 1px solid;
  padding: 5px 0px 5px 0px;
}
.table-col-1, .table-col-3 {
  float: left;
  width: 25%;
}
.table-col-2 {
  float: left;
  width: 50%;
}
.heading-medium, .heading-large {
  margin-top: 30px;
}
.heading-small {
  margin-top: 20px;
  margin-bottom: 10px;
}
.para {
  margin-bottom: 10px;
}
.address {
  margin-bottom: 3px;
}
