<div class="screen-990">
  <a (click)="back()" class="link-back">Back</a>
  <h1 class="heading-h1">Privacy policy</h1>

  <!-- Asylum Accordion stuff -->
  <ccd-accordion [title]="'Asylum'" [lastAccordion]="false">
    <div class="accordion-body">

      <!-- Asylum Start -->
      <h3 class="heading-h3">The personal data we need</h3>
      <div class="para">
        <span class="text-16">When you use the immigration and asylum appeal service we ask for:</span>
        <ul style="list-style-type: disc;">
          <li>your name</li>
          <li>your date of birth</li>
          <li>your nationality</li>
          <li>your address</li>
          <li>your business or organisation if you are acting on an appellant's behalf</li>
          <li>your email or mobile phone number if you are acting on an appellant’s behalf</li>
          <li>the reasons you are appealing the decision</li>
          <li>your past immigration history</li>
          <li>a list of any evidence you have to support your appeal</li>
        </ul>
      </div>

      <h3 class="heading-h3">Storing your data</h3>
      <div class="para">
        <span class="text-16">When you use this service you’ll be asked to use your email address to set up an
          account. You can use this email and password to sign into other HMCTS services.</span>
      </div>

      <h3 class="heading-h3">Before you submit your information</h3>
      <div class="para">
        <span class="text-16">Information that is saved but not submitted may be deleted after 90 days.</span>
      </div>
      <h3 class="heading-h3">After you submit your information</h3>
      <div class="para">
        <span class="text-16">The information you submit for your appeal will be deleted 10 years after the last
          update made to the appeal.</span>
      </div>
      <h3 class="heading-h3">Receiving notifications</h3>
      <div class="para">
        <span class="text-16">We use GOV.UK Notify to send emails. Until the point where emails are handed over
          to your email provider, they are processed within the EEA.</span>
      </div>
      <div class="para">
        <span class="text-16">We'll ask if you want to receive email notifications to keep you updated with your
          appeal.</span>
      </div>
      <div class="para">
        <span class="text-16">You can cancel emails by following the steps mentioned in the emails.</span>
      </div>
      <div class="para">
        <span class="text-16">If you have asked for your named representative to receive updates on your appeal,
          then we will share your data with them. If you want your representative to stop receiving notifications
          then you need to <a [routerLink]="'/contact-us'" target="_blank">Contact us</a>.</span>
      </div>

      <h3 class="heading-h3">Sharing your data </h3>
      <div class="para">
        <span class="text-16">Your data will be shared with the government department that made the decision you
          are appealing against. For example, the Home Office. This is so that department can respond to your
          appeal.</span>
      </div>
      <div class="para">
        <span class="text-16">After you complete your appeal it will be stored for 10 years. It will be deleted
          after that.</span>
      </div>
      <!-- Asylum End -->

    </div>
  </ccd-accordion>

  <!-- Divorce Accordion stuff -->
  <ccd-accordion [title]="'Divorce'" [lastAccordion]="false">
    <div class="accordion-body">

      <!-- Divorce Start -->
      <div class="para">
        <span class="text-16">This privacy policy explains why we collect your personal data and
          what we do with it. It also explains your rights and how to enforce them.</span>
      </div>

      <h3 class="heading-h3">Who manages this service</h3>
      <div class="para">
        <span class="text-16">This service is managed by HM Courts and Tribunals Service (HMCTS), which
          is an executive agency of the Ministry of Justice (MoJ).</span>
      </div>
      <div class="para">
        <span class="text-16">The MoJ is the data controller for data protection purposes. The
   <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
      target="_blank">MoJ personal information charter</a> explains how the MoJ processes personal data.</span>
      </div>
      <div class="para">
        <span class="text-16">As part of the MoJ, HMCTS is responsible for deciding how your personal
          data is used and for protecting the personal data you provide.</span>
      </div>
      <div class="para">
        <span class="text-16">More information about using this service is in the
          <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
      </div>

      <h3 class="heading-h3">The personal data we need</h3>
      <div class="para">
        <span class="text-16">When you use to apply for divorce service we ask for:</span>
        <ul style="list-style-type: disc;">
          <li>your name</li>
          <li>your email address</li>
          <li>your phone number</li>
          <li>your role/position</li>
          <li>your firm's address</li>
        </ul>
      </div>

      <div class="para">
        <span class="text-16">We also ask for your client’s personal data, which includes:</span>
        <ul style="list-style-type: disc;">
          <li>the applicant's current name</li>
          <li>the respondent's current name</li>
          <li>proof of the applicant name change if they've changed it since they got married</li>
          <li>a copy of the marriage certificate and the details from it</li>
          <li>the country in which the applicant and respondent are habitually resident in England
            or Wales</li>
          <li>whether the applicant and respondent are habitually resident in England or Wales</li>
          <li>whether the applicant's and respondent's domicile is in England or Wales</li>
          <li>the applicant's email address</li>
          <li>the applicant's phone number</li>
          <li>the applicant's address</li>
          <li>the respondent's address</li>
          <li>the address of the respondent's solicitor (if they have one)</li>
          <li>details around the reason for the divorce</li>
          <li>details of other court cases the applicant and respondent have been involved in</li>
          <li>the name and address of the person who allegedly committed adultery with the respondent
            (this is optional and only asked if adultery is the reason for divorce</li>
        </ul>
      </div>

      <h3 class="heading-h3">Receiving notifications</h3>
      <div class="para">
        <span class="text-16">You need to sign up to receive notifications to use the apply for
          divorce service.  This is a legal requirement so that the divorce application can proceed.</span>
      </div>

      <h3 class="heading-h3">Storing your data</h3>
      <div class="para">
        <span class="text-16">When you use this service, you’ll be asked to use your email address
          to set up an account. You can use this email address and password to sign into other HMCTS
          services.</span>
      </div>
      <div class="para">
        <span class="text-16">While you're filling out or responding to a divorce application we will
          hold your data and your client's data for up to 6 months.  If you don't complete the
          application during this time you'll have to start again.</span>
      </div>
      <div class="para">
        <span class="text-16">When a divorce is finalised the case is stored for 18 years.  After
          this time, some data (from the decree nisi and the
        decree absolute) is deleted.</span>
      </div>
      <div class="para">
        <span class="text-16">The remainder of the case information is stored for an additional
          82 years.  After a total of 100 years this data will be deleted. </span>
      </div>

      <h3 class="heading-h3">Why we collect your personal data</h3>
      <div class="para">
        <span class="text-16">We collect your personal data to:</span>
        <ul style="list-style-type: disc;">
          <li>enable us to process your client's application</li>
          <li>meet legal requirements</li>
          <li>make improvements to this service</li>
        </ul>
      </div>
      <div class="para">
        <span class="text-16">Our staff work in the UK and your data is stored in the UK.</span>
      </div>

      <h3 class="heading-h3">Using your data</h3>

      <div class="para">
        <span class="text-16">As part of your application you’ll be asked to use your email address
          to set up an account and receive updates from HMCTS. You will be able to use this email
          address and password to sign into other HMCTS services.</span>
      </div>
      <div class="para">
        <span class="text-16">We will ask for your permission to use your email address to send you
          emails using GOV.UK Notify.  This system processes emails	only within the European Economic
          Area until the point where emails are handed over to the email provider you use.</span>
      </div>
      <div class="para">
        <span class="text-16">We use <a [routerLink]="'/cookies'" target="_blank">cookies</a> to collect data that
          tells us about how you’re using this service, including:</span>
        <ul style="list-style-type: disc;">
          <li>If you open an email from us or click on a link in an email</li>
          <li>your computer, phone or tablet’s IP address</li>
          <li>the region or town where you are using your computer, phone or tablet</li>
          <li>the web browser you use</li>
        </ul>
      </div>

      <h3 class="heading-h3">Sharing your data </h3>
      <div class="para">
        <span class="text-16">While processing your application, another government department, agency
          or organisation might be involved and we may share your data with them.</span>
      </div>
      <div class="para">
        <span class="text-16">In some circumstances we may share your data. For example, to prevent or
          detect crime, or to produce anonymised statistics.</span>
      </div>
      <div class="para">
        <span class="text-16">We use Google Analytics to collect data about how a website is used. This
          anonymous data is shared with Google. Find out about this in our
          <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
      </div>

      <h3 class="heading-h3">Storing and sharing your data internationally</h3>
      <div class="para">
        <span class="text-16">Sometimes we need to send your personal information outside of the UK.
          When we do this, we will comply with all the applicable data protection law.</span>
      </div>

      <h3 class="heading-h3">Your rights</h3>

      <div class="para">
        <span class="text-16">You can ask:</span>
        <ul style="list-style-type: disc;">
          <li>to see the personal data that we hold on you</li>
          <li>to have the personal data corrected</li>
          <li>to have the personal data removed or deleted (this will depend on the circumstances, for
            example if you decide not to continue with your application)</li>
          <li>that access to the personal data is restricted (for example, you can ask to have your
            data stored for longer and not automatically deleted)</li>
        </ul>
      </div>

      <div class="para">
        <span class="text-16">If you want to see the personal data that we hold on you, you can:</span>
        <ul style="list-style-type: disc;">
          <li>complete a form to make a subject access request - your request goes to the MoJ as
            data controller</li>
          <li>write to us: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
        </ul>
      </div>

      <h3 class="heading-h3">You can ask for more information about:</h3>
      <div class="para">
        <ul style="list-style-type: disc;">
          <li>agreements we have on sharing information with other organisations</li>
          <li>when we are allowed to pass on personal information without telling you</li>
          <li>our instructions to staff on how to collect, use or delete your personal information</li>
          <li>how we check that the information we hold is accurate and up-to-date
          </li>
        </ul>
      </div>

      <h3 class="heading-h3">You can contact the MoJ data protection officer, by:</h3>
      <div class="para">
        <ul style="list-style-type: disc;">
          <li>writing to us: Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
          <li>emailing: data.compliance@justice.gov.uk</li>
        </ul>
      </div>

      <h3 class="heading-h3">How to complain</h3>
      <div class="para">
        <span class="text-16">See our
  <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure"
     target="_blank">complaints procedure</a> if you want to complain about how we’ve handled your
          personal data.</span>
      </div>
      <div class="para">
        <span class="text-16">Write to: Post point 10.38, 102 Petty France, London, SW1H 9AJ; or</span>
      </div>
      <div class="para">
        <span class="text-16">Email: data.compliance@justice.gov.uk</span>
      </div>
      <div class="para">
        <span class="text-16">You can also complain to the <a href="https://ico.org.uk/global/contact-us"
                                                              target="_blank">Information Commissioner’s Office</a> if you’re not satisfied with our response
          or believe we are not processing your personal data lawfully.</span>
      </div>
      <!-- Divorce End -->

    </div>
  </ccd-accordion>

  <!-- Family Public Law stuff -->
  <ccd-accordion [title]="'Family Public Law'" [lastAccordion]="false">
    <div class="accordion-body">

      <!-- Family Public Law Start -->
      <div class="para">
        <span class="text-16">This privacy policy explains why we collect your personal data, what we do with it, and
          your rights. More information about using this service is in the
          <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a></span>
      </div>

      <h3 class="heading-h3">Who manages this service</h3>
      <div class="para">
        <span class="text-16">This service is managed by Her Majesty’s Courts and Tribunals Service (HMCTS) and we’re
          responsible for protecting the personal data you provide.</span>
      </div>
      <div class="para">
        <span class="text-16">HMCTS is an executive agency of the Ministry of Justice (MoJ). The MoJ is the
          data controller and their
          <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
             target="_blank">personal information charter</a> explains more about how they process personal data.</span>
      </div>
      <div class="para">
        <span class="text-16">When you use this service we (HMCTS) will ask you to provide some personal data.</span>
      </div>

      <h3 class="heading-h3">What is the personal data that we collect</h3>
      <div class="para">
        <span class="text-16">When you use the Family Public Law service, we collect the following personal data:</span>
        <ul style="list-style-type: disc;">
          <li>he applicant's name, address, job role and contact details</li>
          <li>the Local Authority solicitor's name, address and contact details</li>
          <li>the social worker's name, address and contact details</li>
          <li>name, date of birth, gender and address of children in the case</li>
          <li>name, date of birth, gender, address and contact details of respondents in the case</li>
          <li>name, address and contact details of other parties in the case, for example witnesses</li>
          <li>details of any disability or litigation capacity (ability to understand proceedings) of any child,
            respondent or other party in the case</li>
          <li>details of other court cases respondents or children in the case have been involved in</li>
          <li>evidence supporting the case</li>
        </ul>
      </div>
      <div class="para">
        <span class="text-16">We also collect:</span>
        <ul style="list-style-type: disc;">
          <li>information that tells us if you open an email from us, or click on a link in an email</li>
          <li>information about how you use this service, like your IP address and the web browser you use. We do
            this by <a [routerLink]="'/cookies'" target="_blank">using cookies</a></li>
        </ul>
      </div>

      <h3 class="heading-h3">What we do with your data</h3>
      <div class="para">
        <span class="text-16">We collect personal data to:</span>
        <ul style="list-style-type: disc;">
          <li>process the application</li>
          <li>meet legal requirements</li>
          <li>make improvements to this service</li>
        </ul>
      </div>
      <div class="para">
        <span class="text-16">Personal data is processed by our staff in the UK and the data is stored in the UK.</span>
      </div>
      <div class="para">
        <span class="text-16">Data relating to a case is stored until the youngest child reaches 18 years old,
          unless the case results in adoption where the data is stored for 100 years.</span>
      </div>
      <div class="para">
        <span class="text-16">We use GOV.UK Notify to send emails. These are processed within the EEA until
          the point where emails are handed over to your email provider.</span>
      </div>

      <h3 class="heading-h3">Your rights</h3>
      <div class="para">
        <span class="text-16">You can ask:</span>
        <ul style="list-style-type: disc;">
          <li>to see the personal data that we hold on you</li>
          <li>to have the personal data corrected</li>
          <li>to have the personal data removed or deleted (this will depend on the circumstances)</li>
          <li>that access to the personal data is restricted (for example, you can ask to have your data
            stored for longer, and not automatically deleted)</li>
        </ul>
      </div>
      <div class="para">
        <span class="text-16">Email
          <a href="mailto:data.access@justice.gov.uk" target="_blank">data.access@justice.gov.uk</a> if you want
          to see any of this information.</span>
      </div>

      <h3 class="heading-h3">Sharing your data</h3>
      <div class="para">
        <span class="text-16">We allow Google to use or share our website analytics data, find out about
          this in our <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
      </div>

      <h3 class="heading-h3">Receiving notifications</h3>
      <div class="para">
        <span class="text-16">As part of your application we will send you notifications to let you
          know how your application is proceeding.</span>
      </div>
      <div class="para">
        <span class="text-16">Email <a href="mailto:dcd-familypubliclawservicedesk@hmcts.net"
                                       target="_blank">dcd-familypubliclawservicedesk@hmcts.net</a> if you want to cancel email updates.</span>
      </div>

      <h3 class="heading-h3">How to complain</h3>
      <div class="para">
        <span class="text-16">If you want to complain about how we have handled your personal data,
          email <a href="mailto:data.compliance@justice.gov.uk" target="_blank">data.compliance@justice.gov.uk</a>.</span>
      </div>
      <div class="para">
        <span class="text-16">You can complain to the
          <a href="https://ico.org.uk/global/contact-us" target="_blank">Information Commissioner’s Office</a> if you are
          unsatisfied with our response or believe we are not legally processing your personal data.</span>
      </div>
      <!-- Family Public Law End -->

    </div>
  </ccd-accordion>

  <!-- Financial Remedy stuff -->
  <ccd-accordion [title]="'Financial Remedy'" [lastAccordion]="false">
    <div class="accordion-body">

      <!-- Financial Remedy Start -->
      <div class="para">
        <span class="text-16">This privacy policy explains why we collect your personal data and
          what we do with it.  It also explains your right and how to enforce them.</span>
      </div>

      <h3 class="heading-h3">Who manages this service</h3>
      <div class="para">
        <span class="text-16">This service is managed by HM Courts and Tribunals Service(HMCTS), which
          is an executive agency of the Ministry of Justice (MoJ).</span>
      </div>
      <div class="para">
        <span class="text-16">The MoJ is the data controller for data protection purpose.  The
   <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
      target="_blank">MoJ personal information charter</a> explains how the MoJ processes personal data.</span>
      </div>
      <div class="para">
        <span class="text-16">As part of the MoJ, HMCTS is responsible for deciding how your personal
          data is used and protecting the personal data you provide.</span>
      </div>
      <div class="para">
        <span class="text-16">More information about using this service is in the
          <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
      </div>

      <h3 class="heading-h3">The personal data we collect</h3>
      <div class="para">
        <span class="text-16">When you use the financial remedy applications service we ask for:</span>
        <ul style="list-style-type: disc;">
          <li>your name</li>
          <li>your email address</li>
          <li>your phone number</li>
          <li>your role/position</li>
          <li>your organisation's address</li>
        </ul>
      </div>

      <div class="para">
        <span class="text-16">We also ask for your client’s personal data, which includes:</span>
        <ul style="list-style-type: disc;">
          <li>the applicant’s current name</li>
          <li>the respondent’s current name</li>
          <li>a contact address for the respondent or their representative</li>
          <li>an email address for the respondent or their representative (optional)</li>
          <li>a telephone number for the respondent or their representative (optional)</li>
          <li>the applicant’s case number for their divorce</li>
          <li>details about the stage the divorce has reached (with supporting evidence)</li>
          <li>detail about the nature of the financial remedy application</li>
          <li>the address of any property/land included in the application for a property adjustment order
            (if applicable)</li>
          <li>the address of any mortgagees for any property/land included in the application for a property
            adjustment order (if applicable)</li>
          <li>details of any written agreements in relation to children (if applicable)</li>
          <li>detail of the type of periodical payment or secured periodical payment order being sought on
            behalf of the child(ren) (if applicable)</li>
        </ul>
      </div>

      <h3 class="heading-h3">Receiving notifications</h3>
      <div class="para">
        <span class="text-16">You need to sign up to receive notifications to use the online Financial Remedy
          service. This is a legal requirement so that the Financial Remedy application can proceed.</span>
      </div>

      <h3 class="heading-h3">Storing your data</h3>
      <div class="para">
        <span class="text-16">When you use this service, you’ll be asked to use your email address
          to set up an account. You can use this email address and password to sign into other HMCTS
          services.</span>
      </div>
      <div class="para">
        <span class="text-16">While you're filling out or responding to an application we will
          hold your data for up to 6 months.  If you don't complete the application during this
          time you'll have to start again.</span>
      </div>
      <div class="para">
        <span class="text-16">When the financial remedy application is finalised, the case is stored
          for 18 years.  After this time, the data is deleted.</span>
      </div>

      <h3 class="heading-h3">Why we collect your personal data</h3>
      <div class="para">
        <span class="text-16">We collect your personal data to:</span>
        <ul style="list-style-type: disc;">
          <li>enable us to process your client's application</li>
          <li>meet legal requirements</li>
          <li>make improvements to this service</li>
        </ul>
      </div>
      <div class="para">
        <span class="text-16">Our staff use your personal data to process your client's application.
          Our offices are based in the UK and your data is stored in the UK.</span>
      </div>

      <h3 class="heading-h3">Using your data</h3>
      <div class="para">
        <span class="text-16">As part of your application you’ll be asked to use your email address
          to set up an account and receive updates from HMCTS. You will be able to use this email
          address and password to sign into other HMCTS services.</span>
      </div>
      <div class="para">
        <span class="text-16">We will ask for your permission to use your email address to send you emails
          using GOV.UK Notify. This system processes emails only within the European Economic Area until the
          point where emails are handed over to the email provider you use.</span>
      </div>
      <div class="para">
        <span class="text-16">We <a [routerLink]="'/cookies'" target="_blank">use cookies</a> to collect data that tells
          us about how you are using this service, including: </span>
        <ul style="list-style-type: disc;">
          <li>If you open an email from us or click on a link in an email </li>
          <li>your computer, phone or tablet’s IP address </li>
          <li>the region or town where you are using your computer, phone or tablet </li>
          <li>the web browser you use </li>
        </ul>
      </div>

      <h3 class="heading-h3">Sharing your data</h3>
      <div class="para">
        <span class="text-16">While processing your application, another government department, agency
          or organisation might be involved and we may share you're data with them.</span>
      </div>
      <div class="para">
        <span class="text-16">In some circumstances we may share your data.  For example, to prevent or
          detect crime, or to produce anonymize statistics.</span>
      </div>

      <div class="para">
        <span class="text-16">Any data which is posted in to support a Financial Remedy application will be
          shared with Exela Technologies Limited. For example, a posted letter will be received by Exela and sent
          to the court as a scanned image.</span>
      </div>
      <div class="para">
        <span class="text-16">We use Google Analytics to collect data about how a website is used. This
          anonymous data is shared with Google.  Find out about this in our
          <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>. </span>
      </div>

      <h3 class="heading-h3">Storing and sharing your data internationally </h3>
      <div class="para">
        <span class="text-16">Sometimes we need to send your personal information outside of UK.  When we do this,
          we will comply with all the applicable data protection law. </span>
      </div>

      <h3 class="heading-h3">Your rights </h3>
      <div class="para">
        <span class="text-16">You can ask: </span>
        <ul style="list-style-type: disc;">
          <li>to see the personal data that we hold on you </li>
          <li>to have the personal data corrected </li>
          <li>to have the personal data removed or deleted (this will depend on the circumstances for example
            if you decide not to continue with you're application)</li>
          <li>that access to the personal data is restricted (for example, you can ask to have you're
            data stored for longer and not automatically deleted) </li>
        </ul>
      </div>

      <div class="para">
        <span class="text-16">If you want to see the personal data that we hold on you, you can: </span>
        <ul style="list-style-type: disc;">
          <li>complete a form to make a subject access request - your request goes to the MoJ as data controller</li>
          <li>write to us:  Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ </li>
        </ul>
      </div>

      <h3 class="heading-h3">You can ask for more information about: </h3>
      <div class="para">
        <ul style="list-style-type: disc;">
          <li>agreements we have on sharing information with other organisations </li>
          <li>when we are allowed to pass on personal information without telling you </li>
          <li>our instructions to staff on how to collect, use or delete your personal information </li>
          <li>how we check that the information we hold is accurate and up-to-date </li>
        </ul>
      </div>

      <h3 class="heading-h3">You can contact the MoJ data protection officer by: </h3>
      <div class="para">
        <ul style="list-style-type: disc;">
          <li>writing to: Post point 10.38, 102 Petty France, London, SW1H 9AJ </li>
          <li>emailing: data.compliance@justice.gov.uk </li>
        </ul>
      </div>

      <h3 class="heading-h3">How to complain </h3>
      <div class="para">
        <span class="text-16">See our
  <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure"
     target="_blank">complaints procedure</a> if you want to complain about how we’ve handled your personal data. </span>
      </div>
      <div class="para">
        <span class="text-16">If you wish to complain, you can Write to: Post point 10.38, 102 Petty France,
          London, SW1H 9AJ; or</span>
      </div>
      <div class="para">
        <span class="text-16">Email: data.compliance@justice.gov.uk</span>
      </div>
      <div class="para">
        <span class="text-16">You can also complain to the <a href="https://ico.org.uk/global/contact-us"
                                                              target="_blank">Information Commissioner’s Office</a> if you’re not satisfied with our response
          or believe we are not processing your personal data lawfully.</span>
      </div>
      <!-- Financial Remedy End -->

    </div>
  </ccd-accordion>

  <!-- Probate Accordion stuff -->
  <ccd-accordion [title]="'Probate'" [lastAccordion]="true">

    <div class="accordion-body">

      <!-- Probate Start -->
            <div class="para">
              <span class="text-16">This privacy policy explains why we collect your personal data and
                what we do with it. It also explains your rights and how to enforce them.</span>
            </div>

            <h3 class="heading-h3">Who manages this service</h3>

            <div class="para">
              <span class="text-16">This service is managed by HM Courts and Tribunals Service (HMCTS),
                which is an executive agency of the Ministry of Justice (MoJ).</span>
            </div>
            <div class="para">
              <span class="text-16">The MoJ is the data controller for data protection purposes. The
      <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
                   target="_blank">MoJ personal information charter</a> explains how the MoJ
                processes personal data.  As part of the MoJ, HMCTS is responsible for deciding how
                your personal data is used and for protecting the personal data you provide.</span>
            </div>
            <div class="para">
              <span class="text-16">More information about using this service is in the
              <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
            </div>

            <h3 class="heading-h3">Why we collect your personal data</h3>

            <div class="para">
              <span class="text-16">We collect your personal data to:</span>
              <ul style="list-style-type: disc;">
                <li>enable us to process your client’s application</li>
                <li>meet legal requirements</li>
                <li>make improvements to this service</li>
              </ul>
            </div>

            <div class="para">
              <span class="text-16">Our staff use your personal data to process your client’s
                application. Our offices are based in the UK and your data is stored in the UK.</span>
            </div>

            <h3 class="heading-h3">The personal data we collect</h3>

            <div class="para">
              <span class="text-16">When you use the manage probate applications service we
                ask for:</span>
              <ul style="list-style-type: disc;">
                <li>your name</li>
                <li>your email address</li>
                <li>your phone number</li>
                <li>your organisation's address</li>
              </ul>
            </div>

            <div class="para">
              <span class="text-16">We also ask for your client’s personal data, which includes:</span>
              <ul style="list-style-type: disc;">
                <li>their names, the names of all executors of the will</li>
                <li>contact details for all of the executors who are applying for probate</li>
              </ul>
            </div>

            <h3 class="heading-h3">Using your data</h3>

            <div class="para">
              <span class="text-16">As part of your application you’ll be asked to use your email
                address to set up an account and receive updates from HMCTS. You will be able to
                use this email address and password to sign into other HMCTS services.</span>
            </div>

            <div class="para">
              <span class="text-16">We <a [routerLink]="'/cookies'" target="_blank">use cookies</a> to collect data
                that tells us about how you’re using this service, including:</span>
              <ul style="list-style-type: disc;">
                <li>If you open an email from us or click on a link in an email</li>
                <li>your computer, phone or tablet’s IP address</li>
                <li>the region or town where you are using your computer, phone or tablet</li>
                <li>the web browser you use</li>
              </ul>
            </div>

            <h3 class="heading-h3">Storing your data</h3>
            <div class="para">
              <span class="text-16">When you use this service, you’ll be asked to use your email
                address to set up an account. You can use this email address and password to sign
                into other HMCTS services.</span>
            </div>

            <h3 class="heading-h3">Before you submit your information</h3>
            <div class="para">
              <span class="text-16">Information you enter in the Manage probate applications
                service is saved until you decide to submit it. This allows you to save what
                you are doing and continue later. Saved information that you do not submit
                will be deleted after 90 days.</span>
            </div>

            <h3 class="heading-h3">After you submit your information</h3>
            <div class="para">
              <span class="text-16">Information you enter in the Manage probate applications
                service will be stored for 50 years and then deleted.</span>
            </div>
            <div class="para">
              <span class="text-16">Wills and grants of probate can be accessed as public records. </span>
            </div>

            <h3 class="heading-h3">Sharing your data </h3>
            <div class="para">
              <span class="text-16">While processing your application, another government department,
                agency or organisation might be involved and we may share your data with them.</span>
            </div>
            <div class="para">
              <span class="text-16">In some circumstances we may share your data. For example, to
                prevent or detect crime, or to produce anonymised statistics.</span>
            </div>
            <div class="para">
              <span class="text-16">We use Google Analytics to collect data about how a website
                is used. This anonymous data is shared with Google. Find out about this in our
                <a [routerLink]="'/terms-and-conditions'" target="_blank">terms and conditions</a>.</span>
            </div>

            <h3 class="heading-h3">Storing and sharing your data internationally</h3>
            <div class="para">
              <span class="text-16">Sometimes we need to send your personal information outside
                of the UK. When we do this, we will comply with all the applicable data protection law.</span>
            </div>

            <h3 class="heading-h3">Your rights</h3>

            <div class="para">
              <span class="text-16">You can ask:</span>
              <ul style="list-style-type: disc;">
                <li>to see the personal data that we hold on you</li>
                <li>to have the personal data corrected</li>
                <li>to have the personal data removed or deleted (this will depend on the circumstances,
                  for example if you decide not to continue with your application)</li>
                <li>that access to the personal data is restricted (for example, you can ask to have
                  your data stored for longer and not automatically deleted)</li>
              </ul>
            </div>

            <div class="para">
              <span class="text-16">If you want to see the personal data that we hold on you,
                you can:</span>
              <ul style="list-style-type: disc;">
                <li>submit a
         <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
            target="_blank">subject access request online</a>, or write to Disclosure Team, Post point
                  10.38, 102 Petty France, London, SW1H 9AJ</li>
              </ul>
            </div>

            <div class="para">
              <span class="text-16">Your request goes to the MoJ as data controller.</span>
            </div>

            <h3 class="heading-h3">You can ask for more information about: </h3>
            <div class="para">
              <ul style="list-style-type: disc;">
                <li>agreements we have on sharing information with other organisations </li>
                <li>when we are allowed to pass on personal information without telling you </li>
                <li>our instructions to staff on how to collect, use or delete your personal information </li>
                <li>how we check that the information we hold is accurate and up-to-date  </li>
              </ul>
            </div>

            <h3 class="heading-h3">You can contact the MoJ data protection officer, by: </h3>
            <div class="para">
              <ul style="list-style-type: disc;">
                <li>writing to: Post point 10.38, 102 Petty France, London SW1H 9AJ </li>
                <li>emailing: data.compliance@justice.gov.uk </li>
              </ul>
            </div>

            <h3 class="heading-h3">How to complain </h3>
            <div class="para">
              <span class="text-16">See our
   <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure"
      target="_blank">complaints procedure</a> if you want to complain about how we’ve handled your personal
                data. </span>
            </div>
            <div class="para">
              <span class="text-16">If you wish to complain, you can write to: Post point 10.38,
                102 Petty France, London, SW1H 9AJ; or </span>
            </div>
            <div class="para">
              <span class="text-16">Email: data.compliance@justice.gov.uk </span>
            </div>
            <div class="para">
              <span class="text-16">You can also complain to the <a href="https://ico.org.uk/global/contact-us"
                target="_blank">Information Commissioner’s Office</a> if you’re not satisfied with our response
                or believe we are not processing your personal data lawfully. </span>
            </div>
      <!-- Probate End -->

    </div>

  </ccd-accordion>

</div>
