<div class="form-group" [ngClass]="{'form-group-error': !textareaControl.valid && textareaControl.touched}">

  <label [for]="id()">
    <span class="form-label-bold" *ngIf="caseField.label">{{caseField | ccdFieldLabel}}</span>
    <span class="form-hint" *ngIf="caseField.hint_text">{{caseField.hint_text}}</span>
    <span class="error-message" *ngIf="textareaControl.errors && textareaControl.touched">{{textareaControl.errors | ccdFirstError}}</span>
  </label>

  <textarea class="form-control" [id]="id()" rows="3" [formControl]="textareaControl"></textarea>

</div>
