#fieldset-case-data {
  margin-bottom: 30px;

  th {
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
  }
}

.compound-field {
  td {
    padding: 0;
  }
}

#confirmation-header {
  width: 630px;
  background-color: #17958b;
  border: solid 1px #979797;
  color: #ffffff;
  text-align: center;
}

#confirmation-body {
  width: 630px;
  background-color: #ffffff;
}
