<div *ngIf="error" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading"
     tabindex="-1">
  <h3 class="heading-medium error-summary-heading" id="edit-case-event_error-summary-heading">
    The event could not be created
  </h3>
  <p>{{error.message}}</p>
  <ul *ngIf="error.details?.field_errors" class="error-summary-list">
    <li *ngFor="let fieldError of error.details.field_errors">{{fieldError.message}}</li>
  </ul>
</div>
<ccd-callback-errors [callbackErrorsSubject]="callbackErrorsSubject"
                     (callbackErrorsContext)="callbackErrorsNotify($event)"></ccd-callback-errors>

<form [formGroup]="editForm" (submit)="submit()">
  <ng-container *ngIf="checkYourAnswerFieldsToDisplayExists()">

    <h1 class="heading-small">Check your answers</h1>
    <h2 class="plain-message">Check the information below carefully. This will form a record of your application.</h2>

    <table class="form-table">
      <tbody>
      <ng-container *ngFor="let page of this.wizard.pages">
        <ng-container *ngIf="isShown(page)">
          <ng-container *ngFor="let field of page.case_fields">
            <ng-container *ngIf="canShowFieldInCYA(field)">

              <tr *ngIf="!(field | ccdIsCompound); else CYACompoundRow" ccdConditionalShow ccdLabelSubstitutor [caseField]="field"
                  [formGroup]="editForm.controls['data']" [eventFields]="eventTrigger.case_fields">
                <th>{{field.label}}</th>
                <td class="form-cell">
                  <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
                </td>
                <td>
                  <a *ngIf="isChangeAllowed(field)" (click)="navigateToPage(page.id)"
                     href="javascript:void(0)">Change</a>
                </td>
              </tr>
              <ng-template #CYACompoundRow>
                <tr class="compound-field" ccdConditionalShow ccdLabelSubstitutor [caseField]="field"
                    [formGroup]="editForm.controls['data']"
                    [eventFields]="eventTrigger.case_fields">
                  <td colspan="2">
                    <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
                  </td>
                  <td>
                    <a *ngIf="isChangeAllowed(field)" (click)="navigateToPage(page.id)"
                       href="javascript:void(0)">Change</a>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="readOnlySummaryfieldsToDisplayExists()">
    
    <table class="form-table">
      <tbody>
        <ng-container *ngFor="let field of this.sortedFields">          
            <tr *ngIf="!(field | ccdIsCompound); else ReadOnlyCompoundRow" ccdLabelSubstitutor [caseField]="field"
            [formGroup]="editForm.controls['data']" [eventFields]="eventTrigger.case_fields">
              <th>{{field.label}}</th>
              <td class="form-cell">
                <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
              </td>
            </tr>
            <ng-template #ReadOnlyCompoundRow>
              <tr class="compound-field" ccdLabelSubstitutor [caseField]="field"
                  [formGroup]="editForm.controls['data']"
                  [eventFields]="eventTrigger.case_fields">
                <td colspan="2">
                  <ccd-field-read [caseField]="summaryCaseField(field)"></ccd-field-read>
                </td>
              </tr>
            </ng-template>
          </ng-container>
      </tbody>
    </table>
  </ng-container>
  <fieldset id="fieldset-event" formGroupName="event" *ngIf="!isSolicitor()">
    <div class="form-group">
      <label for="field-trigger-summary" class="form-label">
        Event summary (optional)
        <span class="form-hint">A few words describing the purpose of the event.</span>
      </label>
      <input type="text" id="field-trigger-summary" class="form-control" formControlName="summary" maxlength="1024">
    </div>
    <div class="form-group">
      <label for="field-trigger-description" class="form-label">Event description (optional)</label>
      <textarea id="field-trigger-description" class="form-control" formControlName="description"
                maxlength="65536"></textarea>
    </div>
  </fieldset>
  <div class="form-group form-group-related">
    <button class="button button-secondary" type="button" [disabled]="!hasPrevious()" (click)="previous()">Previous</button>
    <button type="submit" [disabled]="isDisabled()" class="button">{{triggerText}}</button>
  </div>
  <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
</form>
