$darkgray: #231F20;

.rightBorderSeparator {
  border-right-width: 4px;
  border-right-color: #ffcc02;
  border-right-style: solid;
}
.back {
  color: $darkgray;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
