<div class="accordion-wrapper">

  <div class="accordion-heading" (click)="isHidden = !isHidden" [class.last-accordion]="lastAccordion && isHidden">
    <div style="float: left">
      <h3 class="heading-medium">{{ title }}</h3>
    </div>
    <div style="float: right;">
      <img src="{{ getImage() }}" class="accordion-image"/>
    </div>
  </div>

  <div class="accordion-body" [hidden]="isHidden" [class.last-accordion]="lastAccordion">
    <ng-content select=".accordion-body"></ng-content>
  </div>

</div>
