.accordion-wrapper {

  margin-bottom: 20px;

  .heading-medium {
    margin: 0px;
  }
  .accordion-heading{
    border-top: 1px solid #bfc1c3;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 20px;
    cursor: pointer;

    .accordion-image {
      width: 25px;
      margin-right: 20px;
    }
  }
  .accordion-body {
    margin-top: 20px;
    margin-right: 20px;
  }
  .last-accordion {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 30px;
  }

}


