<div class="global-display">
  <cut-body>

    <div class="heading-top" topBody>
      <h1 class="heading-medium">Case List</h1>
      <a routerLink="/create/case" class="button">Create new case</a>
    </div>

    <div class="display-left" leftBody>
      <ccd-workbasket-filters
        [jurisdictions]="profile.jurisdictions"
        [defaults]="profile.default.workbasket"
        (onApply)="applyFilter($event)"
      ></ccd-workbasket-filters>
    </div>
    <div class="display-right" rightBody>

      <ccd-search-result *ngIf="resultView" [jurisdiction]="jurisdiction" [caseType]="caseType" [caseState]="caseState" [resultView]="resultView"
                         [caseFilterFG]="caseFilterFG" [page]="page" [paginationMetadata]="paginationMetadata"
                         [metadataFields]="metadataFields" (changePage)="applyFilter($event)" #searchResults></ccd-search-result>
    </div>
  </cut-body>
</div>
