@import 'node_modules/@hmcts/ccd-case-ui-toolkit/dist/cut-styles/components/typography';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_shims';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_measurements';

$black: #231F20;

.global-display {
  width: 100%;
  @extend %contain-floats;

  .heading {
    @include bold-24pt;
    padding-top: 28px;
    padding-left: 7px;
    padding-bottom: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $black;
  }

  .heading-top {
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;

    h1 {
      float: left;
      margin-top: 5px;
    }
    a {
      float: right;
    }
  }

  .display-left {
    @extend %contain-floats;
    float: left;

    @include media(desktop){
      width: 17%;
    }
    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }
  }

  .display-right::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    margin-left: -1.3%;
    border-left: 1px solid #BFC1C3;
    transform: translate(-50%);
  }

  .display-right {
    @extend %contain-floats;
    float: right;
    text-align: right;
    position: relative;

    @include media(desktop){
      width: 80%;
    }

  }
}
