<div class="activityComponent" *ngIf>
  <div *ngIf="!isActiveCase() && displayMode === dspMode.ICON">-</div>
  <div *ngIf="displayMode === dspMode.ICON && (activity.editors.length > 0 || activity.unknownEditors > 0)">
    <ccd-activity-icon imageLink="/img/editor.png" [description]="editorsText"></ccd-activity-icon>
  </div>
  <div *ngIf="displayMode === dspMode.ICON && (activity.viewers.length > 0 || activity.unknownViewers> 0)">
    <ccd-activity-icon imageLink="/img/viewer.png" [description]="viewersText"></ccd-activity-icon>
  </div>
  <div *ngIf="displayMode === dspMode.BANNER && (activity.editors.length > 0 || activity.unknownEditors > 0)">
    <ccd-activity-banner imageLink="/img/editorBanner.png" [description]="editorsText" bannerType="editor">
    </ccd-activity-banner>
  </div>
  <div *ngIf="displayMode === dspMode.BANNER && (activity.viewers.length > 0 || activity.unknownViewers> 0)">
    <ccd-activity-banner imageLink="/img/viewerBanner.png" [description]="viewersText" bannerType="viewer">
    </ccd-activity-banner>
  </div>
</div>
