.activityComponent {
}

.activityEditorsIcon {
    margin-left: 10px;
}

.activityEditorsAndViewersIcons {
    float: left;
    margin-left: 10px;
}

.activityViewersIcon {
    float: left;
    margin-left: 10px;
}
