<div class="screen-990">
  <h1 class="heading-h1">Create Case</h1>
  <div class="width-50">
    <div *ngIf="error" class="error-summary" role="group" aria-labelledby="edit-case-event_error-summary-heading" tabindex="-1">
    <h3 class="heading-h3 error-summary-heading" id="edit-case-event_error-summary-heading">
      {{error.error}}
    </h3>
    <p>{{error.message}}</p>
    <ul *ngIf="error.details?.field_errors" class="error-summary-list">
        <li *ngFor="let fieldError of error.details.field_errors">
        {{fieldError.message}}
        </li>
    </ul>
    </div>
    <ccd-callback-errors
        [triggerTextContinue]="triggerTextStart"
        [triggerTextIgnore]="triggerTextIgnoreWarnings"
        [callbackErrorsSubject]="callbackErrorsSubject"
        (callbackErrorsContext)="callbackErrorsNotify($event)">
    </ccd-callback-errors>
    <ccd-create-case-filters
        [isDisabled]="hasErrors()"
        [startButtonText]="startButtonText"
        (selectionSubmitted)="apply($event)"
        (selectionChanged)="resetErrors()"
    ></ccd-create-case-filters>
  </div>
</div>
