<h3 class="heading-medium">Search</h3>
<div class="grid-row">
  <div class="search-left">

    <ccd-search-filters
      [jurisdictions]="profile.jurisdictions"
      (onApply)="applyFilter($event)"
      [autoApply]="false"
    ></ccd-search-filters>

  </div>
  <div class="search-right" id="search-result" aria-live="polite" role="region">
    <ccd-search-result *ngIf="resultView" [jurisdiction]="jurisdiction" [caseType]="caseType" [caseState]="caseState" [resultView]="resultView"
                       [caseFilterFG]="caseFilterFG" [paginationMetadata]="paginationMetadata"
                       [metadataFields]="metadataFields" (changePage)="applyFilter($event)"></ccd-search-result>
  </div>
</div>
