<div class="grid-row">
  <div class="search-left">
    <h2 class="heading-h2" aria-label="Criteria">Criteria</h2>  <!--  search-filter -->
    <ccd-search-filters
      [jurisdictions]="profile.jurisdictions"
      (onApply)="applyFilter($event)"
      (onReset)="applyReset($event)"
      (onJurisdiction)="applyJurisdiction($event)"
      [autoApply]="true"
    ></ccd-search-filters>

  </div>
  <div class="search-right" id="search-result" aria-live="polite" role="region" >
    <ccd-search-result *ngIf="resultView" [jurisdiction]="jurisdiction" [caseType]="caseType" [caseState]="caseState"
                       [resultView]="resultView" [caseFilterFG]="caseFilterFG" [paginationMetadata]="paginationMetadata"
                       [caseLinkUrlTemplate]="'/v2/case/case_id'" [metadataFields]="metadataFields"
                       (changePage)="applyFilter($event)">
    </ccd-search-result>
  </div>
</div>
