<a href="{{ getMainContentLink() }}" class="govuk-skip-link">Skip to main content</a>
<div defaultOverlayTarget></div>

<!-- BETA -->
<cut-phase-bar *ngIf="!isSolicitor()" phaseLabel="BETA" phaseLink="{{getSmartSurveyUrl()}}"></cut-phase-bar>

<!-- Header : Start -->
<cut-header-bar [title]="selectedJurisdictionName"
                [isSolicitor]="isSolicitor()"
                username="{{profile?.user.idam.forename | titlecase}} {{profile?.user.idam.surname | titlecase}}"
                (signOutRequest)='signOut()'>

  <!-- Header menu : Start -->
  <!-- "true" condition is placeholder whether to display header menu or not -->
  <div *ngIf="true" headerNavigation>
    <ul id="proposition-links">
      <li>
        <a [routerLink]="'/list/case'">Case List</a>
      </li>
      <li *ngIf="!router.isActive('/list/case', true)">
        <a [routerLink]="'/create/case'" class="header-menu">Create Case</a>
      </li>
    </ul>
  </div>
  <!-- Header menu : End -->

</cut-header-bar>
<!-- Header : End -->

<!-- Jurisdiction Banners  Start-->
<ccd-banner *ngIf="banners?.length > 0" [banners]= "banners"> </ccd-banner>
<!-- Jurisdiction Banners  End-->

<!-- Mini blue bar : A placeholder for now -->
<div *ngIf="false" id="global-header-bar"></div>

<!-- Big blue bar : Start -->
<cut-nav-bar [isSolicitor]="isSolicitor()" class="global-navigation">
  <div class="nav-left" leftNavLinks>
    <div *ngIf="!isSolicitor()">
      <ul id="menu-links-left">
        <li>
          <cut-nav-item label="Case List" link="/list/case"></cut-nav-item>
        </li>
        <li *ngIf="!router.isActive('/list/case', true)">
          <cut-nav-item label="Create Case" link="/create/case"></cut-nav-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-right" rightNavLinks>
    <div class="search-wrapper">
      <ul id="menu-links-right">
        <li>
          <cut-nav-item id="search" label="Search" link="/search" imageLink="/img/icon-search-white.png"></cut-nav-item>
        </li>
      </ul>
      <!-- For Input type search field...
      <input type='text' placeholder='' class='search-input' />
      <div class="search-img-div">
        <img class="search-img" src='../../img/icon-search-white.png' />
      </div>
      -->
    </div>
  </div>
</cut-nav-bar>
<!-- Big blue bar : End -->

<!-- BETA : For Solicitor -->
<cut-phase-bar [isSolicitor]="isSolicitor()" *ngIf="isSolicitor()" phaseLabel="BETA" phaseLink="{{getSmartSurveyUrl()}}"></cut-phase-bar>

<!-- Unsupported browser help link -->
<ccd-browser-support [isSolicitor]="isSolicitor()" *ngIf="unsupportedBrowser"></ccd-browser-support>

<!-- Main area : Start -->
<a id="main-content" href="javascript:void(0);"></a>
<div class="container-fluid">
  <ccd-alert></ccd-alert>
  <router-outlet></router-outlet>
  <div class="block-wrapper">
    <div class="block mt-xl"></div>
  </div>
</div>
<!-- Main area : End -->

<!-- Footer : Start -->
<cut-footer-bar [isSolicitor]="isSolicitor() || isCourtAdmin()" email="DCD-ITServiceDesk@hmcts.net" phone="030 0303 0686" workhours="Monday – Friday: 08:00 – 20:00, Saturday 08:00 – 14:00">
  <div footerSolsNavLinks>
    <div class="footer-menu">
      <a [routerLink]="'/cookies'" target="_blank">Cookies</a>
    </div>
    <div class="footer-menu">
      <a [routerLink]="'/privacy-policy'" target="_blank">Privacy policy</a>
    </div>
    <div class="footer-menu">
      <a [routerLink]="'/terms-and-conditions'" target="_blank">Terms and conditions</a>
    </div>
    <div class="footer-menu">
    <a [routerLink]="'/contact-us'" target="_blank">Contact us</a>
    </div>
  </div>
  <div footerCaseWorkerNavLinks>
    <!-- Case worker footer navigation links -->
  </div>
</cut-footer-bar>
<!-- Footer : End -->
