<div defaultOverlayTarget></div>

<!-- Condition: Case Worker -->
<!-- BETA -->
<cut-phase-bar *ngIf="!isSolicitor()" phaseLabel="BETA" phaseLink="'javascript:void(0)'"></cut-phase-bar>

<!-- Header : Start -->
<cut-header-bar [title]="selectedJurisdictionName"
                username="{{profile?.user.idam.forename | titlecase}} {{profile?.user.idam.surname | titlecase}}"
                (signOutRequest)='signOut()'>

  <!-- Conditional Header menu : Start -->
  <div *ngIf="isSolicitor() && true" headerNavigation>
    <ul id="proposition-links">
      <li>
        <cut-nav-item label="Case List" link="/list/case"></cut-nav-item>
      </li>
      <li *ngIf="!router.isActive('/list/case', true)">
        <cut-nav-item label="Create Case" link="/create/case"></cut-nav-item>
      </li>
    </ul>
  </div>
  <!-- Conditional Header menu : End -->

</cut-header-bar>
<!-- Header : End -->

<!-- Conditional: Solicitor -->
<!-- Mini blue bar -->
<div *ngIf="isSolicitor() && false" id="global-header-bar"></div>

<!-- Big blue bar : Start -->
<cut-nav-bar *ngIf="isSolicitor() && true" class="global-navigation">
  <div class="nav-left" leftNavLinks>
    <div *ngIf="!isSolicitor()">
      <ul id="menu-links-left">
        <li>
          <cut-nav-item label="Case List" link="/list/case"></cut-nav-item>
        </li>
        <li *ngIf="!router.isActive('/list/case', true)">
          <cut-nav-item label="Create Case" link="/create/case"></cut-nav-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-right" rightNavLinks>
    <div *ngIf="isSolicitor()" class="search-wrapper">
      <input type='text' placeholder='' class='search-input' />
      <div class="search-img-div">
        <img class="search-img" src='../../img/icon-search-white.png' />
      </div>
    </div>
    <!--
    <ul id="menu-links-right">
      <li>
        <cut-nav-item id="search" label="Search" link="/search" imageLink="/img/icon-search-white.png"></cut-nav-item>
      </li>
    </ul>
    -->
  </div>
</cut-nav-bar>
<!-- Big blue bar : End -->

<!-- Condition: Case Worker -->
<!-- BETA -->
<cut-phase-bar *ngIf="isSolicitor()" phaseLabel="BETA" phaseLink="'javascript:void(0)'"></cut-phase-bar>

<!-- Main area : Start -->
<div class="container-fluid">
  <ccd-alert></ccd-alert>
  <router-outlet></router-outlet>
  <div class="block-wrapper">
    <div class="block mt-xl"></div>
  </div>
</div>
<!-- Main area : End -->

<!-- Footer : Start -->
<cut-footer-bar email="service-desk@hmcts.gsi.gov.uk" phone="0207 633 4140" workhours="Monday to Friday, 8am to 6pm (excluding bank holidays)"></cut-footer-bar>
<!-- Footer : End -->
