@import 'node_modules/@ccd/case-ui-toolkit/dist/cut-styles/components/typography';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_shims';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_measurements';

$blue: #0074B4;
$white: #FFFFFF;
$menu-border: 0px;
$menu-active-nav: $white;

@mixin menu() {
  color: $white;
  text-decoration: none;
  padding-left: 13px;
  &:hover {
    text-decoration: underline;
  }
}

.global-navigation {
  background-color: $blue;
  width: 100%;
  height: 55px;
  @extend %contain-floats;

  .nav-left, .nav-right {
    @extend %contain-floats;
    @include vertical-align;
    color: $white;

    ul {
      clear: both;
      @extend %contain-floats;
      margin: 2px 0 0 0;
      padding: 0;
      .js-enabled & {
        display: none;
        @include media(desktop){
          display: block;
        }
        &.js-visible {
          display: block;
        }
      }

      li {
        padding: 3px 0;
        border-bottom: 1px solid $menu-border;
        list-style-type: none;
        @include media(desktop) {
          display: block;
          width: auto;
          padding: 0 15px 0 0;
          border-bottom: 0;

          &.clear-child {
             clear: left;
          }
        }
      }
    }
  }

  .nav-left {
    float: left;
    padding-left: 22px;
    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    ul.menu-links {
      li {
        float: left;
        @media screen and (max-width: 379px) {
          float: none;
        }
      }
    }
  }

  .nav-right {
    @include core-16pt;
    float: right;
    text-align: right;

    ul.menu-links {
      li {
        display: table-cell;
        @include media(desktop) {
          padding-right: 22px;
        }
        @media screen and (max-width: 379px) {
          display: inline-block;
          float: right;
        }
      }
    }

    .header-search {
      display: table;
      margin: 0 auto;

      .advanced-link {
        color: white;
        text-decoration: underline;
        font-size: 80%
      }
      #header-search-input {
        padding-left: 5px;
        height: 1.8em;
        font-size: 1em;
        width: 15.5em;
      }

      input {
        display: inline;
        border-width: 0px;
        box-sizing: content-box;
      }

      input:focus {
        outline: none;
      }

      input[type=submit] {
        height:1.8em;
        width:1.8em;
        color: black;
        padding: 1px;
        background-color: black;
        background-image: url('/img/icon-search-white.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        border-color: black;
        border-width: 1px;
      }
    }

  }
}
