@import 'node_modules/@hmcts/ccd-case-ui-toolkit/dist/cut-styles/components/typography';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_shims';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_conditionals';
@import 'node_modules/govuk_frontend_toolkit/stylesheets/_measurements';

$blue: #0062a0;
$white: #FFFFFF;
$menu-border: 0px;
$menu-active-nav: $white;

@mixin menu() {
  color: $white;
  text-decoration: none;
  padding-left: 13px;
  &:hover {
    text-decoration: underline;
  }
}

.global-navigation {
  background-color: $blue;
  width: 100%;
  height: 55px;
  @extend %contain-floats;

  .nav-left {
    @extend %contain-floats;
    float: left;
    color: $white;
    padding-left: 22px;
    @include vertical-align;

    @include media(desktop){
      width: 60%;
    }
    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    #menu-links-left {
      clear: both;
      @extend %contain-floats;
      margin: 2px 0 0 0;
      padding: 0;

      .js-enabled & {
        display: none;
        @include media(desktop){
          display: block;
        }
        &.js-visible {
          display: block;
        }
      }

      li {
        float: left;
        width: 50%;
        padding: 3px 0;
        border-bottom: 1px solid $menu-border;

        @include media(desktop){
          display: block;
          width: auto;
          padding: 0 15px 0 0;
          border-bottom: 0;

          &.clear-child {
            clear: left;
          }
        }
      }
    }
  }

  .nav-right {
    @include core-16pt;
    @extend %contain-floats;
    float: right;
    text-align: right;
    color: $white;
    @include vertical-align;

    @include media(desktop){
      width: 50%;
      height: 100%;
    }

    #menu-links-right {
      clear: both;
      @extend %contain-floats;
      margin: 2px 0 0 0;
      padding: 0;

      .js-enabled & {
        display: none;
        @include media(desktop){
          display: block;
        }
        &.js-visible {
          display: block;
        }
      }

      li {
        @extend %contain-floats;
        float: right;
        width: 50%;
        padding: 3px 0;
        border-bottom: 1px solid $menu-border;

        @include media(desktop){
          display: block;
          width: auto;
          padding: 0 22px 0 0;
          border-bottom: 0;

          &.clear-child {
            clear: left;
          }
        }

        img {
          float: right;
        }

        #search {
          text-align: left;
          display: inline-block;
          padding: 0;
        }

      }
    }
  }
}

.search-wrapper {
  display: inline-flex;
  margin-top: 7px;
  margin-right: 15px;
  height: 41px;
  width: 321px;
}
.search-input {
  outline-width: 0;
  width: 88%;
  border: 0px;
  box-shadow: 0px;
  background-color: #ffffff;
}
.search-img-div {
  width: 12%;
  padding: 5px 7px 0 0;
  background-color: #00823b;
  border: solid 1px #00823b;
}
